.query-table-title {
background-color: #277553;
color: white;
}

.link-table-title {
background-color: #29506D;
color: white;
}

.ignore-table-title {
background-color: #AA7939;
color: white;
}

.stub-table-title {
background-color: #AA5939;
color: white;
}

/*
input[type="checkbox"]:checked + #row-selected {
border-color: #0dcaf0!important;
}*/
