body {
background-color: #334257;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
background-color: #334257;
color: white;
}

.auto-matcher {
color: white;
}

.table-row {
color:#eaeaea;
}

.light-text {
color: #548CA8;
}

.gray-text {
color: #eaeaea;
}

/*.query-table-title {
background-color: #548CA8;
color: white;
}*/

.navbar-head-bg {
background-color: #476072;
}

.navbar-head-bg-2 {
background-color: #548CA8;
}

.link-table-title {
background-color: #EEEEEE;
color: white;
}

.ignore-table-title {
background-color: #476072;
color: white;
}

/*
input[type="checkbox"]:checked + #row-selected {
border-color: #0dcaf0!important;
}*/
