<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | auto matcher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/all.css" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-fluid">

<div class="row" id="top">
    <!--    top menu-->
    <nav class="nav navbar-light bg-light align-items-center">
        <div class="col">
            <ul class="nav nav-fill nav-tabs me-auto mb-2 mt-4 ms-4 mb-lg-0">
                <span class="navbar-brand navbar-brand mb-0 h1">media-jscanner</span>
                <li class="nav-item px-2">
                    <a th:switch="${query_list_movie.size()>0}" class="nav-link" th:href="${tab_movie}">movies
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list_movie.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${query_list_movie.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a th:switch="${query_list_tv.size()>0}" class="nav-link" th:href="${tab_tv}">tv
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list_tv.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${query_list_tv.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a th:switch="${link_list.size()>0}" class="nav-link active" th:href="${tab_links}">links
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${link_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${link_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <!--ignored-->
                <li class="nav-item px-2">
                    <a th:switch="${media_ignored.size()>0}" class="nav-link" th:href="${tab_ignored}">
                        ignored
                        <span th:case="${true}" th:text="${media_ignored.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <span th:case="${false}" th:text="${media_ignored.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" th:href="${tab_config}">settings</a>
                </li>
            </ul>
        </div>
        <div class="col"></div>
        <div class="col-2">
            <!--scan folders-->
            <div class="col d-flex justify-content-center p-1">
                <form action="#"
                      th:action="@{__${movie_scan}__}"
                      method="get">
                    <input type="hidden">
                    <button class="btn btn-success" type="submit">
                        <span class="m-2">Refresh</span>
                        <i class="fa-solid fa-arrows-rotate fa-lg"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- menu title -->
<div class="row">
    <div class="col-4">
        <h2 class="col text-secondary">Auto matcher</h2>
    </div>
</div>

<!-- Auto matcher-->
<div class="row m-2 auto-matcher">
    <!--match button-->
    <div th:switch="${future}" class="col-1 align-self-center p-2">
        <form action="#"
              th:action="@{__${movie_auto}__}"
              method="get">
            <input type="hidden">
            <button th:case="${true}" class="btn btn-primary btn-sm" type="submit">
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
            <button th:case="${false}" class="btn btn-secondary btn-sm" type="submit" disabled>
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
        </form>
    </div>
    <!--info & progress bar-->
    <div class="col justify-content-start">
        <!--    scanning file: [1/123] name-->
        <div th:switch="${future}" class="row">
            <div th:case="${false}" class="col-2">
                <span th:id="spinner" class="spinner-border spinner-border-sm" role="status"></span>
                <span>scanning file:</span>
            </div>
            <div th:case="${true}" class="col-1">
                        <span th:id="spinner" class="spinner-border spinner-border-sm visually-hidden"
                              role="status"></span>
                <span>ready!</span>
            </div>
            <div class="col text-nowrap">
                <span>[</span>
                <span id="currentElementNumber">-</span>
                <span>/</span>
                <span id="totalElements">-</span>
                <span>]</span>
                <span class="fst-italic" id="currentFile">none</span>
            </div>
        </div>
        <div class="col-12">
            <!--    progress bar-->
            <div class="progress">
                <div class="progress-bar" id="progress" role="progressbar" style="width: 0%" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-dark table-sm table-striped align-middle table-bordered"
           id="incoming_links">
        <!--    <table class="table table-dark table-hover table-sm table-striped table-borderless">-->
        <!--        table head-->
        <thead>
        <tr>
            <th colspan="2" class="text-left text-white-50 col-8">Links to be created</th>
            <th class="col-2">
                <!--confirm -->
                <form action="#"
                      th:action="@{__${movie_new_links}__}"
                      method="get"
                      id="confirm_form"
                      class="invisible">
                    <button class="btn btn-link link-success btn-sm" type="submit">
                        <i class="fa-solid text-success fa-check"></i>
                        Confirm
                    </button>
                </form>
            </th>
            <!--abort-->
            <th colspan="col-2">
                <form action="#"
                      th:action="@{__${tab_movie}__}"
                      method="get"
                      id="abort_form"
                      class="invisible">
                    <button class="btn btn-link link-danger btn-sm" type="submit"><i class="fa-solid fa-xmark"></i>
                        Abort
                    </button>
                </form>
            </th>
        </tr>
        </thead>
        <!--        table body-->
        <tbody>
        <!-- Here goes the template of incoming links-->
        </tbody>
    </table>
</div>
<!-- button to show links -->
<div class="col align-self-center p-2">
    <p id="follow_button" class="invisible">
        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
           th:href="${movie_auto_finish}">Click here to view links
        </a>
    </p>
</div>
<!--page selection-->
<div class="row justify-content-between">
    <div class="col-2">
    </div>
    <!--back to the top-->
    <div class="col-2">
        <nav aria-label="...">
            <ul class="pagination pagination-sm float-end">
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#top">back to the top
                        <i class="fa-solid fa-arrow-turn-up"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>