<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | query list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container-xl">
<div class="row">
    <nav class="nav navbar-expand-lg navbar-light bg-light nav-tabs">
        <div class="container-fluid pt-1">
            <span class="navbar-brand fs-6">media-jscanner</span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                new files-->
                <li class="nav-item px-2">
                    <a th:switch="${query_list.size()>0}" class="nav-link" href="/query">new files
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${query_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <!--                links-->
                <li class="nav-item px-2">
                    <a th:switch="${link_list.size()>0}" class="nav-link" href="/links">links
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${link_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${link_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
<!--                stubs-->
                <li class="nav-item px-2">
                    <a class="nav-link" href="/stubs">stubs</a>
                </li>
<!--                ignored-->
                <li class="nav-item px-2">
                    <a th:switch="${media_ignored.size() > 0}" class="nav-link" href="/ignored">ignored
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${media_ignored.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${media_ignored.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <!--                config-->
                <li class="nav-item px-2">
                    <a class="nav-link active" href="/config">config</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--error, no user paths found-->
<div class="row" th:switch="${user_paths}">
    <div th:case="${false}" class="col-8 offset-md-2">
        <div class="row m-3 p-2 bg-light border border-danger rounded align-items-center">
            <p class="text-danger text-center">User provided paths not found! You can set up folders in the <code><b><u>config</u></b></code> tab</p>
        </div>
    </div>
</div>
<!-- tracker status-->
<div class="row">
    <div class="col">
        <div class="row m-3 bg-light align-items-center">
            <div class="col-2 my-1">
                Tracker status:
            </div>
            <!-- not working condition-->
            <div th:switch="${tracker_status}" class="col-1 my-1">
                <span th:case="${true}" class="text-success">Running...</span>
                <span th:case="${false}" class="text-danger">Stopped.</span>
            </div>
            <div class="col-1 my-1">
                <form th:action="@{/reload}">
                    <button type="submit" class="btn btn-sm btn-primary">Reload</button>
                </form>
            </div>
            <div th:switch="${server_updated}" class="col my-1 align-middle">
                <span th:case="${true}">Configuration is up to date.</span>
                <span th:case="${false}"
                      class="text-danger">You need to reload tracker for new paths to be applied.</span>
            </div>
        </div>
    </div>
</div>

<!--links path-->
<div class="row m-3">
    <table class="table">
        <thead class="">
        <tr>
            <th colspan="2">Links folder path</th>
        </tr>
        </thead>
        <tbody class="table-secondary">
        <tr>
            <td class="col-1">
                <span>current:</span>
            </td>
            <td th:switch="${links_path_validated}" colspan="2" class="align-middle col-10">
                <span class="fw-normal font-monospace" th:text="${links_folder}"></span>
                <span th:case="${false}" class="fw-normal font-monospace text-danger">[invalid path]</span>
            </td>
        </tr>
<!--        links form-->
        <form class="d-flex"
              action="#"
              th:action="@{/addlink}"
              th:object="${links_path_form}"
              method="post">
            <tr>
                <td>
                    <span>new:</span>
                </td>
                <td class="align-middle">
                    <input class="form-control me-2" type="search" placeholder="path..." th:field="*{linksFilePath}" name="linkpath" id="linkpath"
                           aria-label="Search">
                </td>
                <td class="col-2 align-middle">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Change path</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="form-check-input" type="checkbox" th:field="*{moveContent}" id="move" value="true">
                    <label class="form-check-label" for="move">Move current links folder content to a new location.</label>
                </td>
                <td></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<!--target paths list-->
<div class="row m-3">
    <table class="table">
        <thead>
        <tr>
            <th>Target folder paths</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-secondary">
        <!--                path in table -->
        <tr th:each="path : ${target_folder_list}">
            <td th:switch="${target_path_validated.get(path)}">
                <span class="fw-normal font-monospace" th:text="${path}">

                </span>
                <span th:case="${false}" class="fw-normal font-monospace text-danger">[invalid path]</span>
            </td>
            <td th:switch="${chk_user_target}" class="align-middle col-2">
                <form th:case="${true}"
                      action="#"
                      th:action="@{/deletepath}"
                      method="post">
                    <input type="hidden" th:value="${path}" name="path">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Delete path</button>
                </form>
            </td>
        </tr>
<!--                     add new path-->
        <tr>
            <form class="d-flex"
                  action="#"
                  th:action="@{/addtarget}"
                  method="post">
                <td>
                    <input class="form-control  me-2" type="search" placeholder="path..." name="path" id="path"
                           aria-label="Search">
                </td>
<!--                                button-->
                <td class="col-2 align-middle">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Add new path</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>