<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | query select</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container-fluid">

<div class="row" id="top">
    <nav class="nav navbar-expand-lg navbar-light bg-light nav-tabs align-items-center">
        <div class="container-fluid pt-1">
            <span class="navbar-brand fs-6">media-jscanner</span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                                new files-->
                <li class="nav-item px-2">
                    <a th:switch="${query_list.size()>0}" class="nav-link" href="/query">new files
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${query_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <!--                                links-->
                <li class="nav-item px-2">
                    <a th:switch="${link_list.size()>0}" class="nav-link active" href="/links">links
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${link_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${link_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <!--                stubs-->
                <li class="nav-item px-2">
                    <a class="nav-link" href="/stubs">stubs</a>
                </li>
                <!--                                ignored-->
                <li class="nav-item px-2">
                    <a th:switch="${media_ignored.size() > 0}" class="nav-link" href="/ignored">ignored
                        <!-- show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${media_ignored.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!-- for no links -->
                        <span th:case="${false}" th:text="${media_ignored.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
<!--                config-->
                <li class="nav-item px-2">
                    <a class="nav-link" href="/config">config</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--error, no user paths found-->
<div class="row" th:switch="${user_paths}">
    <div th:case="${false}" class="col-8 offset-md-2">
        <div class="row m-3 p-2 bg-light border border-danger rounded align-items-center">
            <p class="text-danger text-center">User provided paths not found! You can set up folders in the <code><b><u>config</u></b></code>
                tab</p>
        </div>
    </div>
</div>
<!--page selection-->
<div class="d-flex flex-row justify-content-between align-items-center m-2">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:text="${page_min + ' - ' + page_max + ' of ' + link_list.size()}"></span>
            </li>
            <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() > 0}"
                   th:href="@{/links(size=${page.size}, page=${page.getNumber()})}"
                   class="page-link">< Previous</a>
                <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
            </li>

            <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                   th:href="@{/links(size=${page.size}, page=${page.getNumber() + 2})}"
                   class="page-link">Next ></a>
                <span th:if="${page.getNumber() + 1 == page.getTotalPages()}" class="page-link disabled">Next ></span>
            </li>
        </ul>
    </nav>
    <!--search box-->
    <nav aria-label="search">
        <div class="row m-2">
            <div class="col">
                <form class="d-flex"
                      action="#"
                      th:action="@{/search-link/}"
                      method="post">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search links..." aria-label="queries search"
                               aria-describedby="button-addon2" name="search" id="search">
                        <button class="btn btn-outline-primary btn-sm" type="submit" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--number of shown elements-->
    <nav aria-label="range">
        <ul class="pagination pagination-sm">
            <li class="page-item" aria-current="page">
                <span>
                    Show
                </span>
                <a th:if="${page.size != 25}" href="#" th:href="@{/links(size=25, page=1)}">25</a>
                <span th:if="${page.size == 25}">25</span>
                <a th:if="${page.size != 50}" href="#" th:href="@{/links(size=50, page=1)}">50</a>
                <span th:if="${page.size == 50}">50</span>
                <a th:if="${page.size != 100}" href="#" th:href="@{/links(size=100, page=1)}">100</a>
                <span th:if="${page.size == 100}">100</span>
                <span>
                    elements on page.
                </span>
            </li>
        </ul>
    </nav>
</div>
<!--table-->
<div class="row">
    <table class="table table-striped">
        <!--        table head-->
        <thead>
        <tr>
            <th class="col-1 text-center">id</th>
            <th class="col">
                <a href="/links?sort=target">target</a>
                <span>|</span>
                <a href="/links?sort=link">link</a>
            </th>
            <th class="col-1 text-center">tmdb</th>
            <th class="col-1 text-center">imdb</th>
            <th class="col-1 text-center">qwe</th>
            <th class="col-1 text-center">qwe</th>
        </tr>
        </thead>
        <!--        table body-->
        <tbody>
        <tr th:each="link, iter : ${page.getContent()}">
            <td class="col-1 text-center"
                th:text="${link.mediaId}">asd</td>
            <!--            paths-->
            <td class="col" th:if="${link.originalPresent}">
                <div th:text="${link.originalPath}" class="row fs-6 fw-bold font-monospace">original path</div>
                <div th:text="${link.linkPath}" class="row fs-7 fw-normal font-monospace">link path</div>
            </td>
            <td class="col" th:if="${!link.originalPresent}">
                <span th:text="${link.originalPath}" class="row fs-6 text-info fw-bold font-monospace"></span>
                <span th:text="${link.linkPath}" class="row fs-7 fw-normal font-monospace"></span>
            </td>
            <!--            tmdb id-->
            <td class="col-1 text-center">
                <span th:text="${link.theMovieDbId}" class="fs-6 fw-bold font-monospace">tmdbi_id</span>
            </td>
            <!--            imdb id-->
            <td class="col-1 text-center">
                <span th:text="${link.imdbId}" class="fs-6 fw-bold font-monospace">imdb_id</span>
            </td>
            <!--            remove link-->
<!--            <td>-->
<!--                <form class="row"-->
<!--                      action="#"-->
<!--                      th:action="@{/remove-link/{id}(id=${link.mediaId})}"-->
<!--                      method="post">-->
<!--                    <input type="hidden" value="" name="custom">-->
<!--                    <button class="btn btn-outline-danger btn-sm" type="submit">Undo</button>-->
<!--                </form>-->
<!--            </td>-->
            <!--            remove orignal file-->
            <td class="col-1 text-center">
                <div class="row">
                    <form action="#"
                          th:action="@{/delete-original/{id}(id=${link.mediaId})}"
                          method="post">
                        <input type="hidden" value="" name="custom">
                        <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                    </form>
                </div>
                <div class="row">
                    <form action="#"
                          th:action="@{/remove-link/{id}(id=${link.mediaId})}"
                          method="post">
                        <input type="hidden" value="" name="custom">
                        <button class="btn btn-outline-danger btn-sm" type="submit">Undo</button>
                    </form>
                </div>
            </td>
            <!--            restore original file-->
            <td class="col-1 text-center">
                <div class="row">
                    <form action="#"
                          th:action="@{/restore-original/{id}(id=${link.mediaId})}"
                          method="post">
                        <input type="hidden" value="" name="custom">
                        <button class="btn btn-outline-danger btn-sm" type="submit">Restore</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--page selection-->
<div class="d-flex flex-row justify-content-between align-items-center">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:text="${page_min + ' - ' + page_max + ' of ' + link_list.size()}"></span>
            </li>
            <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() > 0}"
                   th:href="@{/links(size=${page.size}, page=${page.getNumber()})}"
                   class="page-link">< Previous</a>
                <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
            </li>

            <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                   th:href="@{/links(size=${page.size}, page=${page.getNumber() + 2})}"
                   class="page-link">Next ></a>
                <span th:if="${page.getNumber() + 1 == page.getTotalPages()}" class="page-link disabled">Next ></span>
            </li>
        </ul>
    </nav>
    <!--back to the top-->
    <nav aria-label="back">
        <ul class="pagination pagination-sm">
            <li class="page-item" aria-current="page">
                <a href="#top">back to the top
                    <i class="fa-solid fa-arrow-turn-up"></i></a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>