<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | query list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/all.css" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-fluid">
<div class="row" id="top">
    <!--    top menu-->
<!--    <nav class="nav navbar-expand-lg navbar-light bg-light nav-tabs align-items-center">-->
<!--        <div class="container-fluid pt-1">-->
<!--            <span class="navbar-brand fs-6">media-jscanner</span>-->
<!--            <div class="collapse navbar-collapse">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    &lt;!&ndash;                new files&ndash;&gt;-->
<!--                    <li class="nav-item px-2">-->
<!--                        <a th:switch="${query_list.size()>0}" class="nav-link active" href="/query">new files-->
<!--                            &lt;!&ndash; show if any new files are in the queue &ndash;&gt;-->
<!--                            <span th:case="${true}" th:text="${query_list.size()}"-->
<!--                                  class="badge bg-primary rounded-pill"></span>-->
<!--                            &lt;!&ndash; for no links &ndash;&gt;-->
<!--                            <span th:case="${false}" th:text="${query_list.size()}"-->
<!--                                  class="badge bg-secondary rounded-pill"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;                links&ndash;&gt;-->
<!--                    <li class="nav-item px-2">-->
<!--                        <a th:switch="${link_list.size()>0}" class="nav-link" href="/links">links-->
<!--                            &lt;!&ndash; show if any new files are in the queue &ndash;&gt;-->
<!--                            <span th:case="${true}" th:text="${link_list.size()}"-->
<!--                                  class="badge bg-primary rounded-pill"></span>-->
<!--                            &lt;!&ndash; for no links &ndash;&gt;-->
<!--                            <span th:case="${false}" th:text="${link_list.size()}"-->
<!--                                  class="badge bg-secondary rounded-pill"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;                stubs&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="nav-item px-2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link" href="/stubs">stubs</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                ignored&ndash;&gt;-->
<!--                    <li class="nav-item px-2">-->
<!--                        <a th:switch="${media_ignored.size() > 0}" class="nav-link" href="/ignored">ignored-->
<!--                            &lt;!&ndash; show if any new files are in the queue &ndash;&gt;-->
<!--                            <span th:case="${true}" th:text="${media_ignored.size()}"-->
<!--                                  class="badge bg-primary rounded-pill"></span>-->
<!--                            &lt;!&ndash; for no links &ndash;&gt;-->
<!--                            <span th:case="${false}" th:text="${media_ignored.size()}"-->
<!--                                  class="badge bg-secondary rounded-pill"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;                config&ndash;&gt;-->
<!--                    <li class="nav-item px-2">-->
<!--                        <a class="nav-link" href="/config">config</a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-2">-->
<!--            &lt;!&ndash;scan folders&ndash;&gt;-->
<!--            <div class="col d-flex justify-content-center">-->
<!--                <form action="#"-->
<!--                      th:action="@{/scan}"-->
<!--                      method="get">-->
<!--                    <input type="hidden">-->
<!--                    <button class="btn btn-success" type="submit">-->
<!--                        <span class="m-2">Refresh</span>-->
<!--                        <i class="fa-solid fa-arrows-rotate fa-lg"></i></button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <nav class="nav navbar-light bg-light align-items-center">
        <div class="col">
            <ul class="nav nav-fill nav-tabs me-auto mb-2 mt-4 ms-4 mb-lg-0">
                <span class="navbar-brand navbar-brand mb-0 h1">media-jscanner</span>
                <li class="nav-item px-2">
                    <a th:switch="${query_list.size()>0}" class="nav-link active" href="/query">new files
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${query_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a th:switch="${link_list.size()>0}" class="nav-link" href="/links">links
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${link_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${link_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/ignored">ignored</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/config">config</a>
                </li>
            </ul>
        </div>
        <div class="col"></div>
        <div class="col-2">
            <!--scan folders-->
            <div class="col d-flex justify-content-center p-1">
                <form action="#"
                      th:action="@{/scan}"
                      method="get">
                    <input type="hidden">
                    <button class="btn btn-success" type="submit">
                        <span class="m-2">Refresh</span>
                        <i class="fa-solid fa-arrows-rotate fa-lg"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- Auto matcher-->
<div class="row m-2 auto-matcher">
    <!--match button-->
    <div th:switch="${future}" class="col-1 align-self-center p-2">
        <form action="#"
              th:action="@{/auto}"
              method="get">
            <input type="hidden">
            <button th:case="${true}" class="btn btn-primary btn-sm" type="submit">
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
            <button th:case="${false}" class="btn btn-secondary btn-sm" type="submit" disabled>
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
        </form>
    </div>
    <!--info & progress bar-->
    <div class="col justify-content-start">
        <!--    scanning file: [1/123] name-->
        <div th:switch="${future}" class="row">
            <div th:case="${false}" class="col-2">
                <span th:id="spinner" class="spinner-border spinner-border-sm" role="status"></span>
                <span>scanning file:</span>
            </div>
            <div th:case="${true}" class="col-1">
                        <span th:id="spinner" class="spinner-border spinner-border-sm visually-hidden"
                              role="status"></span>
                <span>ready!</span>
            </div>
            <div class="col text-nowrap">
                <span>[</span>
                <span id="currentElementNumber">-</span>
                <span>/</span>
                <span id="totalElements">-</span>
                <span>]</span>
                <span class="fst-italic" id="currentFile">none</span>
            </div>
        </div>
        <div class="col-12">
            <!--    progress bar-->
            <div class="progress">
                <div class="progress-bar" id="progress" role="progressbar" style="width: 0%" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<!--error, no user paths found-->
<div class="row" th:switch="${user_paths}">
    <div th:case="${false}" class="col-8 offset-md-2">
        <div class="row m-3 p-2 bg-light border border-danger rounded align-items-center">
            <span class="text-danger text-center"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                User provided paths not found! You can set up folders in the <code><b><u>config</u></b></code>
                tab</span>
        </div>
    </div>
</div>
<!--TODO operation results-->
<!--<span th:text="${error}"></span>-->
<!--page selection-->
<div class="row justify-content-between m-2">
    <div class="col-2">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled" aria-current="page">
                    <span class="page-link"
                          th:text="${page_min + ' - ' + page_max + ' of ' + query_list.size()}"></span>
                </li>
                <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                    <a th:if="${page.getNumber() > 0}"
                       th:href="@{/(size=${page.size}, page=${page.getNumber()})}"
                       class="page-link">< Previous</a>
                    <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
                </li>

                <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                    <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                       th:href="@{/(size=${page.size}, page=${page.getNumber() + 2})}"
                       class="page-link">Next ></a>
                    <span th:if="${page.getNumber() + 1 == page.getTotalPages()}"
                          class="page-link disabled">Next ></span>
                </li>
            </ul>
        </nav>
    </div>
    <!--search box-->
    <div class="col-4">
        <form class="d-flex"
              action="#"
              th:action="@{/search-query/}"
              method="post">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Find in queries..."
                       aria-label="queries search" aria-describedby="button-addon2" name="search" id="search">
                <button class="btn btn-primary btn-sm" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
    </div>
    <!--number of shown elements-->
    <div class="col-3">
        <nav aria-label="...">
            <ul class="pagination pagination-sm float-end">
                <li class="page-item disabled" aria-current="page">
                    <span class="page-link">
                        Items per page:
                    </span>
                </li>
                <li th:class="${page.size != 25 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" href="#" th:href="@{/(size=25, page=1)}">25</a>
                </li>
                <li th:class="${page.size != 50 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" href="#" th:href="@{/(size=50, page=1)}">50</a>
                </li>
                <li th:class="${page.size != 100 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" href="#" th:href="@{/(size=100, page=1)}">100</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Paginated Queue -->
<div class="row m-2">
    <table class="table table-dark table-striped table-hover table-sm table-borderless">
        <thead class="query-table-title">
        <tr class="row m-0">
            <th class="col-1 text-center">#</th>
            <th class="col-1"></th>
            <th class="col">filepath</th>
            <th class="col-1 text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="row m-0 pt-1" th:each="query, iter : ${page.getContent()}">
            <!--            id-->
            <td class="col-1 text-center table-row"
                th:text="${page.getNumber() * page.getSize() + iter.index + 1}">aqweqwe
            </td>
            <!--select button-->
            <td class="col-1 text-end" th:switch="${future}">
                <form action="#"
                      th:action="@{/select-query/{id}(id=${query.queryId})}"
                      method="post">
                    <input type="hidden" value="" name="custom">
                    <input type="hidden" th:value="${query.queryUuid}" name="uuid">

                    <button th:case="${true}" class="btn btn-primary btn-sm" type="submit">
                        select</button>
                    <button th:case="${false}" class="btn btn-secondary btn-sm" type="submit" disabled>select
                    </button>
                </form>
            </td>
            <!--            path + description-->
            <td class="col">
                <div class="flex">
                    <i class="fa-solid fa-folder light-text"></i>
                    <span th:text="${query.getParentPath() + '\'}"
                          class="fs-7 fw-normal table-row">
                            folder path</span>
                </div>
                <div class="flex pt-1">
                    <i class="fa-regular fa-file light-text"></i>
                        <span th:text="${query.getFileName()}"
                              class="fs-6 fw-bold table-row">
                            file name</span>
                </div>
            </td>
            <!--            ignore-->
            <td class="col-1 text-start" th:switch="${future}">
                <form action="#"
                      th:action="@{/add-ignore/{id}(id=${query.queryId})}"
                      method="post">
                    <input type="hidden" value="" name="custom">
                    <input type="hidden" th:value="${query.queryUuid}" name="uuid">
                    <button th:case="${true}" class="btn btn-secondary btn-sm" type="submit">ignore</button>
                    <button th:case="${false}" class="btn btn-secondary btn-sm" type="submit" disabled>ignore
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--page selection-->
<div class="row m-2 justify-content-between">
    <div class="col">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled" aria-current="page">
                    <span class="page-link"
                          th:text="${page_min + ' - ' + page_max + ' of ' + query_list.size()}"></span>
                </li>
                <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                    <a th:if="${page.getNumber() > 0}"
                       th:href="@{/(size=${page.size}, page=${page.getNumber()})}"
                       class="page-link">< Previous</a>
                    <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
                </li>
                <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                    <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                       th:href="@{/(size=${page.size}, page=${page.getNumber() + 2})}"
                       class="page-link">Next ></a>
                    <span th:if="${page.getNumber() + 1 == page.getTotalPages()}"
                          class="page-link disabled">Next ></span>
                </li>
            </ul>
        </nav>
    </div>
    <!--back to the top-->
    <div class="col-2">
        <nav aria-label="...">
            <ul class="pagination pagination-sm float-end">
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#top">back to the top
                        <i class="fa-solid fa-arrow-turn-up"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>