<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">

<head>
    <title>media-jscanner | query list</title>
    <script type="text/javascript"
            src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css"
          href="../bootstrap-5.3.3-dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link href="../static/css/all.css" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-fluid">
<div class="row sticky-top" id="top" th:fragment="top_menu">
    <!--    top menu-->
    <nav class="navbar-dark bg-dark bg-gradient">
        <a class="navbar-brand" href="#">media-jScanner</a>
    </nav>
    <!--    main menu-->
    <nav class="navbar bg-secondary bg-gradient border-bottom border-secondary">
        <div class="container-fluid align-items-center">
            <ul class="nav nav-underline nav-fill">
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 0}? 'active'"
                       th:href="${tab_movie}">
                        <i class="fa-solid fa-film"></i>movies</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 1}? 'active'"
                       th:href="${tab_tv}">
                        <i class="fa-solid fa-tv"></i>tv</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 2}? 'active'"
                       th:href="${tab_links}">
                        <i class="fa-solid fa-link"></i>links</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 3}? 'active'"
                       th:href="${tab_ignored}">
                        <i class="fa-solid fa-ban"></i>ignored</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 4}? 'active'"
                       th:href="${tab_wizard}">
                        <i class="fa-solid fa-hat-wizard"></i>wizard</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark-emphasis link-light icon-link"
                       th:classappend="${current_menu == 5}? 'active'"
                       th:href="${tab_config}">
                        <i class="fa-solid fa-gears"></i>settings</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-danger-emphasis link-light icon-link" th:href="${movie_scan}">
                        <i class="fa-solid fa-arrows-rotate fa-lg"></i>refresh</a>
                </li>
            </ul>
            <form class="d-flex ms-auto"
                  action="#"
                  th:action="@{__${global_search}__}"
                  method="post"
                  role="search">
                <input class="form-control form-control-sm me-2"
                       type="search"
                       name="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-light btn-sm" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<!--status message-->
<div class="row console-bar justify-content-start text-secondary-emphasis" id="console">
    <div class="col text-end">
        <span>[ status ]</span>
    </div>
    <div class="col">
        <span th:text="${message}"></span>
    </div>
</div>
<div>
    <!--page title-->
    <div class="row">
        <div class="col-4">
            <h2 class="col text-secondary p-2">
                <i class="fa-solid fa-film mx-2"></i>Movies</h2>
        </div>
    </div>
    <!--results cards-->
    <div class="bd-example m-0 pb-4 border-0">
        <div class="card border-0">
            <div class="card-header border-0 row justify-content-between">
                <div class="col">
                    <ul class="pagination pagination-sm mb-0">
                        <!--previous-->
                        <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                            <a th:if="${page.getNumber() > 0}"
                               th:href="@{__${tab_movie}__/(size=${page.size}, page=${page.getNumber()})}"
                               class="page-link">< Previous</a>
                            <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
                        </li>
                        <!--number of pages-->
                        <li class="page-item disabled" aria-current="page">
                    <span class="page-link"
                          th:text="${page_min + ' - ' + page_max + ' of ' + query_list_movie.size()}"></span>
                        </li>
                        <!--next-->
                        <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                            <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                               th:href="@{__${tab_movie}__/(size=${page.size}, page=${page.getNumber() + 2})}"
                               class="page-link">Next ></a>
                            <span th:if="${page.getNumber() + 1 == page.getTotalPages()}"
                                  class="page-link disabled">Next ></span>
                        </li>
                    </ul>
                </div>
                <!--number of records-->
                <div class="col-auto">
                    <ul class="pagination pagination-sm mb-0 float-end">
                        <li class="page-item disabled" aria-current="page">
                    <span class="page-link">
                        Items per page:
                    </span>
                        </li>
                        <li th:class="${page.size != 25 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" href="#" th:href="@{__${tab_movie}__(size=25, page=1)}">25</a>
                        </li>
                        <li th:class="${page.size != 50 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" href="#" th:href="@{__${tab_movie}__(size=50, page=1)}">50</a>
                        </li>
                        <li th:class="${page.size != 100 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" href="#" th:href="@{__${tab_movie}__(size=100, page=1)}">100</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--query table-->
            <div class="card-body row m-0 p-0" id="movie_query" th:fragment="query_list">
                <table class="table">
                    <thead>
                    <tr class="row mx-1">
                        <th class="col-1 text-end text-muted">#</th>
                        <th class="col text-start text-muted">filepath</th>
                        <th class="col-1 text-center text-muted">ignore</th>
                    </tr>
                    </thead>
                    <!--        table body-->
                    <tbody>
                    <tr class="row mx-1" th:each="query, iter : ${page.getContent()}">
                        <td class="col-1 text-end">
                            <span th:text="${page.getNumber() * page.getSize() + iter.index + 1}">
                                999
                            </span>
                        </td>
                        <!--            paths-->
                        <td class="col">
                            <div class="row text-secondary">
                                <div class="col">
                                    <i class="fa-solid fa-folder"></i>
                                    <span th:text="${query.getParentPath()}"
                                          class="fs-7 fw-normal">
                            folder path</span>
                                </div>
                            </div>
                            <div class="row">
                                <form action="#"
                                      th:action="@{__${movie_select}__}"
                                      method="post"
                                      class="ms-4">
                                    <input type="hidden" value="" name="custom">
                                    <input type="hidden" th:value="${query.queryUuid}" name="uuid">
                                    <button class="btn btn-link link-outline btn-sm" type="submit">
                                    <span th:text="${query.getFileName()}" class="fs-6 fw-bold">
                            file name</span>
                                    </button>
                                </form>
                            </div>

                        </td>
                        <!--            ignore file -->
                        <td class="col-1 text-center">
                            <form action="#"
                                  th:action="@{__${movie_new_ignore}__}"
                                  method="post">
                                <input type="hidden" th:value="${query.queryUuid}" name="uuid">
                                <button class="btn btn-link link-secondary btn-sm" type="submit">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                    ignore
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-body-secondary text-end border-0" th:fragment="back_to_top">
                <ul class="pagination pagination-sm mb-0 float-end">
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#top">back to the top
                            <i class="fa-solid fa-arrow-turn-up"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>