<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | query list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="../static/css/all.css" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <!--    <link href="../static/style.css" rel="stylesheet">-->
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-fluid">
<div class="row" id="top">
    <!--    top menu-->
    <nav class="nav navbar-expand-lg navbar-light bg-light nav-tabs align-items-center">
        <div class="container-fluid pt-1">
            <span class="navbar-brand fs-6">media-jscanner</span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--                new files-->
                    <li class="nav-item px-2">
                        <a th:switch="${query_list.size()>0}" class="nav-link active" href="/query">new files
                            <!-- show if any new files are in the queue -->
                            <span th:case="${true}" th:text="${query_list.size()}"
                                  class="badge bg-primary rounded-pill"></span>
                            <!-- for no links -->
                            <span th:case="${false}" th:text="${query_list.size()}"
                                  class="badge bg-secondary rounded-pill"></span>
                        </a>
                    </li>
                    <!--                links-->
                    <li class="nav-item px-2">
                        <a th:switch="${link_list.size()>0}" class="nav-link" href="/links">links
                            <!-- show if any new files are in the queue -->
                            <span th:case="${true}" th:text="${link_list.size()}"
                                  class="badge bg-primary rounded-pill"></span>
                            <!-- for no links -->
                            <span th:case="${false}" th:text="${link_list.size()}"
                                  class="badge bg-secondary rounded-pill"></span>
                        </a>
                    </li>
                    <!--                stubs-->
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/stubs">stubs</a>
                    </li>
                    <!--                ignored-->
                    <li class="nav-item px-2">
                        <a th:switch="${media_ignored.size() > 0}" class="nav-link" href="/ignored">ignored
                            <!-- show if any new files are in the queue -->
                            <span th:case="${true}" th:text="${media_ignored.size()}"
                                  class="badge bg-primary rounded-pill"></span>
                            <!-- for no links -->
                            <span th:case="${false}" th:text="${media_ignored.size()}"
                                  class="badge bg-secondary rounded-pill"></span>
                        </a>
                    </li>
                    <!--                config-->
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/config">config</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-2">
            <!--scan folders-->
            <div class="col d-flex justify-content-center">
                <form action="#"
                      th:action="@{/scan}"
                      method="get">
                    <input type="hidden">
                    <button class="btn btn-primary" type="submit">
                        <span class="m-2">Refresh</span>
                        <i class="fa-solid fa-arrows-rotate fa-lg"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- Auto matcher-->
<div class="row align-items-center">
    <!--match button-->
    <div th:switch="${future}" class="col-2 align-self-center p-2">
        <form action="#"
              th:action="@{/auto}"
              method="get">
            <input type="hidden">
            <button th:case="${true}" class="btn btn-outline-primary btn-sm" type="submit">
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
            <button th:case="${false}" class="btn btn-outline-secondary btn-sm" type="submit" disabled>
                <span class="m-2">Match</span>
                <i class="fa-solid fa-puzzle-piece fa-lg"></i>
            </button>
        </form>
    </div>
    <!--info & progress bar-->
    <div class="col justify-content-start">
        <!--    scanning file: [1/123] name-->
        <div th:switch="${future}" class="row">
            <div th:case="${false}" class="col-2">
                <span th:id="spinner" class="spinner-border spinner-border-sm" role="status"></span>
                <span>scanning file:</span>
            </div>
            <div th:case="${true}" class="col-1">
                        <span th:id="spinner" class="spinner-border spinner-border-sm visually-hidden"
                              role="status"></span>
                <span>ready!</span>
            </div>
            <div class="col text-nowrap">
                <span>[</span>
                <span id="currentElementNumber">-</span>
                <span>/</span>
                <span id="totalElements">-</span>
                <span>]</span>
                <span class="fst-italic" id="currentFile">none</span>
            </div>
        </div>
        <div class="col-12">
            <!--    progress bar-->
            <div class="progress">
                <div class="progress-bar" id="progress" role="progressbar" style="width: 0%" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<!--error, no user paths found-->
<div class="row" th:switch="${user_paths}">
    <div th:case="${false}" class="col-8 offset-md-2">
        <div class="row m-3 p-2 bg-light border border-danger rounded align-items-center">

            <span class="text-danger text-center"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                User provided paths not found! You can set up folders in the <code><b><u>config</u></b></code>
                tab</span>
        </div>
    </div>
</div>
<span th:text="${error}"></span>
<!--page selection-->
<div class="d-flex flex-row justify-content-between align-items-center">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:text="${page_min + ' - ' + page_max + ' of ' + query_list.size()}"></span>
            </li>
            <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() > 0}"
                   th:href="@{/query(size=${page.size}, page=${page.getNumber()})}"
                   class="page-link">< Previous</a>
                <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
            </li>

            <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                   th:href="@{/query(size=${page.size}, page=${page.getNumber() + 2})}"
                   class="page-link">Next ></a>
                <span th:if="${page.getNumber() + 1 == page.getTotalPages()}" class="page-link disabled">Next ></span>
            </li>
        </ul>
    </nav>
    <!--search box-->
    <nav aria-label="search">
        <div class="col">
            <form class="d-flex"
                  action="#"
                  th:action="@{/search-query/}"
                  method="post">
                <input class="form-control me-2" type="search" placeholder="Find in queries..." name="search" id="search"
                       aria-label="Search">
                <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--number of shown elements-->
    <nav aria-label="range">
        <ul class="pagination pagination-sm">
            <li class="page-item" aria-current="page">
                <span>
                    Show
                </span>
                <a th:if="${page.size != 25}" href="#" th:href="@{/query(size=25, page=1)}">25</a>
                <span th:if="${page.size == 25}">25</span>
                <a th:if="${page.size != 50}" href="#" th:href="@{/query(size=50, page=1)}">50</a>
                <span th:if="${page.size == 50}">50</span>
                <a th:if="${page.size != 100}" href="#" th:href="@{/query(size=100, page=1)}">100</a>
                <span th:if="${page.size == 100}">100</span>
                <span>
                    elements on page.
                </span>
            </li>
        </ul>
    </nav>
</div>
<!-- Paginated Queue -->
<div class="row">
    <table class="table table-striped table-hover table-sm table-borderless">
        <thead class="query-table-title">
        <tr>
            <th class="col-1 text-center">#</th>
            <th class="col">filepath</th>
            <th class="col"></th>
            <th class="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle" th:each="query, iter : ${page.getContent()}">
            <!--            id-->
            <td class="text-center"
                th:text="${page.getNumber() * page.getSize() + iter.index + 1}"></td>
            <!--            path + description-->
            <td>
                <span th:text="${query.getParentPath()}" class="row fs-7 fw-normal font-monospace"></span>
                <span th:text="${query.getFileName()}" class="row fs-6 fw-bold font-monospace"></span>
            </td>
            <!--            search with this fila -->
            <td class="col-1" th:switch="${future}">
                <!--                      th:action="@{/selectquery/{id}(id=${query.queryId})}"-->
                <form action="#"
                      th:action="@{/selectquery/{id}(id=${query.queryId})}"
                      method="post">
                    <input type="hidden" value="" name="custom">
                    <input type="hidden" th:value="${query.queryUuid}" name="uuid">
                    <button th:case="${true}" class="btn btn-outline-primary btn-sm" type="submit">search</button>
                    <button th:case="${false}" class="btn btn-outline-secondary btn-sm" type="submit" disabled>search
                    </button>
                </form>
            </td>
            <!--            ignore-->
            <td class="col-1" th:switch="${future}">
                <form action="#"
                      th:action="@{/addignore/{id}(id=${query.queryId})}"
                      method="post">
                    <input type="hidden" value="" name="custom">
                    <input type="hidden" th:value="${query.queryUuid}" name="uuid">
                    <button th:case="${true}" class="btn btn-outline-primary btn-sm" type="submit">ignore</button>
                    <button th:case="${false}" class="btn btn-outline-secondary btn-sm" type="submit" disabled>ignore
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--page selection-->
<div class="d-flex flex-row justify-content-between">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:text="${page_min + ' - ' + page_max + ' of ' + query_list.size()}"></span>
            </li>
            <li th:class="${page.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() > 0}"
                   th:href="@{/query(size=${page.size}, page=${page.getNumber()})}"
                   class="page-link">< Previous</a>
                <span th:if="${page.getNumber() <= 0}" class="page-link disabled">< Previous</span>
            </li>

            <li th:class="${page.getNumber() + 1 == page.getTotalPages() ? 'page-item disabled' : 'page-item'}">
                <a th:if="${page.getNumber() + 1 < page.getTotalPages()}"
                   th:href="@{/query(size=${page.size}, page=${page.getNumber() + 2})}"
                   class="page-link">Next ></a>
                <span th:if="${page.getNumber() + 1 == page.getTotalPages()}" class="page-link disabled">Next ></span>
            </li>
        </ul>
    </nav>
    <nav aria-label="back">
        <ul class="pagination pagination-sm">
            <li class="page-item" aria-current="page">
                <a href="#top">back to the top
                    <i class="fa-solid fa-arrow-turn-up"></i></a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>