<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>media-jscanner | query list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/all.css" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-fluid">
<div class="row" id="top">
    <!--    top menu-->
    <nav class="nav navbar-light bg-light align-items-center">
        <div class="col">
            <ul class="nav nav-fill nav-tabs me-auto mb-2 mt-4 ms-4 mb-lg-0">
                <span class="navbar-brand navbar-brand mb-0 h1">media-jscanner</span>
                <li class="nav-item px-2">
                    <a th:switch="${query_list.size()>0}" class="nav-link active" href="/query">new files
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${query_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${query_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a th:switch="${link_list.size()>0}" class="nav-link" href="/links">links
                        <!--                         show if any new files are in the queue -->
                        <span th:case="${true}" th:text="${link_list.size()}"
                              class="badge bg-primary rounded-pill"></span>
                        <!--                         for no links -->
                        <span th:case="${false}" th:text="${link_list.size()}"
                              class="badge bg-secondary rounded-pill"></span>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/ignored">ignored</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/config">config</a>
                </li>
            </ul>
        </div>
        <div class="col"></div>
        <div class="col-2">
            <!--scan folders-->
            <div class="col d-flex justify-content-center p-1">
                <form action="#"
                      th:action="@{/scan}"
                      method="get">
                    <input type="hidden">
                    <button class="btn btn-success" type="submit">
                        <span class="m-2">Refresh</span>
                        <i class="fa-solid fa-arrows-rotate fa-lg"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>

<!--error, no user paths found-->
<!--<div class="alert alert-warning" role="alert">-->
<!--    A simple warning alert—check it out!-->
<!--</div>-->
<div class="row" th:switch="${user_paths}">
    <div th:case="${false}" class="col-8 offset-md-2">
        <div class="row m-3 p-2 bg-light border border-danger rounded align-items-center">
            <span class="text-danger text-center"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                User provided paths not found! You can set up folders in the <code><b><u>config</u></b></code>
                tab</span>
        </div>
    </div>
</div>
<!-- info with file path -->
<div class="row m-2 justify-content-center">
    <div class="col">
        <p class="text-center light-text">Multiple files found in folder with:</p>
        <p th:text="${query.filePath}" class="h3 fw-bold auto-matcher text-center">file path</p>
    </div>
</div>
<div class="row m-2 justify-content-center align-items-center">
    <div class="col-1"></div>
    <div class="col-4">
        <p class="text-center light-text">Select all elements referring to the same title.</br>You may skip this part to treat selected file as standalone title.</p>
    </div>
    <div class="col-1">
        <form action="#" th:action="@{/skip-multipart}" method="get">
            <button class="btn btn-secondary" type="submit">Skip >></button>
        </form>
    </div>
</div>
<!-- multipart query selection  -->
<div class="row mx-2">
<!--    <div class="row">-->
<!--        <p th:text="${query.filePath}">file path</p>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-1">-->
<!--            <p>Multiple media found in selected folder, select all elements that belong to the same group as file-->
<!--                above.</p>-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--            <form action="#" th:action="@{/skip-multipart}" method="get">-->
<!--                <button class="btn btn-outline-primary" type="submit">Skip >></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

    <fieldset>
        <table class="table table-dark table-striped table-hover table-borderless">
            <form action="#" th:action="@{/set-multipart}" th:object="${multipart_dto}"
                  method="post">
                <thead>
                <tr class="row m-0 text-white-50">
                    <th class="col-1 text-end"></th>
                    <th class="col-9">file path</th>
                    <th class="col-1 text-center">media part</th>
                    <th class="col-1 text-center">media type</th>
                </tr>
                </thead>
                <tbody>
                <!--                select element-->
                <tr class="row m-0 pt-1" th:id="${'row-selected' + item.index}"
                    th:each="mpe, item : *{multiPartElementList}">
                    <td class="col">
                        <div class="form-check d-flex justify-content-end">
                            <input class="form-check-input query-select" type="checkbox" value="-1"
                                   name="element-check"
                                   th:field="*{multiPartElementList[__${item.index}__].multipartSwitch}">
                            <input class="form-check-input" type="hidden" value="0"
                                   th:name="${'multipart-' + item.index}"
                                   th:field="*{multiPartElementList[__${item.index}__].multipartSwitch}">
                            <!--                            <i class="fa-solid fa-check"></i>-->
                        </div>

                    </td>
                    <td class="col-9">
                        <span th:text="${mpe.filePath}">example file path</span>
                        <input type="hidden" th:name="${'multipart-' + item.index}"
                               th:field="*{multiPartElementList[__${item.index}__].filePath}">
                    </td>
                    <!--                    multipart select-->
                    <td class="col-1">
                        <div class="input-group input-group-sm">
                            <!--                            <div class="input-group-text">-->
                            <!--                                <input class="form-check-input mt-0" type="radio"-->
                            <!--                                       aria-label="Radio button for following text input"-->
                            <!--                                       id="multipart" th:name="${'multipart-' + item.index}" value="1"-->
                            <!--                                       th:field="*{multiPartElementList[__${item.index}__].multipartSwitch}">-->
                            <!--                            </div>-->
                            <input type="number" class="form-control" id="title_no"
                                   th:name="${'multipart-' + item.index}" min="0" max="50"
                                   th:field="*{multiPartElementList[__${item.index}__].partNumber}">
                        </div>
                    </td>
                    <td class="col-1">
                        <select th:name="${'multipart-' + item.index}"
                                id="mediatype"
                                class="form-select form-select-sm"
                                th:field="*{multiPartElementList[__${item.index}__].mediaType}">
                            <option th:each="media : ${T(util.MediaType).values()}"
                                    th:value="${media}" th:text="${media.displayValue}"
                                    th:selected="${media == 'MOVIE'}"></option>
                        </select>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="row m-0 pt-1">
                    <td class="col flex text-end">
                        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                    </td>
                </tr>
                </tfoot>
            </form>
        </table>
    </fieldset>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>